
@page "/interview"

<PageTitle>Interview</PageTitle>

<h1>Hello, CreditServe!</h1>

Welcome to my demo page CreditServe. I hope you enjoy :)

<div margin-top="20px">

    <MudExpansionPanels>
        <MudExpansionPanel Text="Introduction" MaxHeight="150">
            <p>Hi, I'm Ashley, and I'm excited about the opportunity to interview with Credit Serve.</p>
        </MudExpansionPanel>

        <MudExpansionPanel Text="Professional Experience" MaxHeight="500">
            <p>Throughout my career, I've successfully [mention achievements/projects]. I believe these experiences have equipped me with the skills needed to contribute effectively to Credit Serve.</p>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Why Credit Serve" MaxHeight="1000">
            <p>I'm drawn to Credit Serve because of its commitment to [mention values/mission]. I'm excited about the prospect of [mention specific contributions] and contributing to the success of the team.</p>
        </MudExpansionPanel>

        <MudExpansionPanel Text="Questions and Closing">
            <p>As we conclude, I have a few questions about [specific aspect of the role/company]. I'm eager to learn more about Credit Serve and how I can contribute to its success. Thank you for considering my application.</p>
        </MudExpansionPanel>

    </MudExpansionPanels>
</div>





<SurveyPrompt Title=" How is Blazor working for you?" />